

#super-cnt {
    font-family: 'Open-Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/sports.png')
}
#back-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#back {
    position: absolute; 
    top: 40px;  
    left: 200px;  
    height: 100px;
    width: 80px;
}

#cart-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#cart {
    position: absolute; 
    top: 40px;  
    right: 200px;  
    height: 100px;
    width: 80px;
}

h1 {
    color: green;
    font-size: 45px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 100%; 
max-width: 1200px; 
padding: 20px; 
background-color: rgba(0, 0, 0, 0.1);
box-sizing: border-box; 

}

.box {
    background-color: darkgreen;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: calc(20%);
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.box h2 {
    margin: 0;
    font-size: 2em;
    color: greenyellow;
}

.box p {
    margin: 10px 0 0;
    font-size: 5em;
}

.box:hover {
    background-color: green;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 28px;
    }
    .box h2 {
        font-size: 1.6em;
    }
    .box p {
        font-size: 3.5em;
    }
    .box {
        width: calc(40%);
        height: 50px;
    }
    #back {
        position: absolute; 
        height: 70px;
        width: 70px;
        top: 20px;
        left: 10px;
    }
    #cart {
        position: absolute; 
        height: 70px;
        width: 70px;
        top: 20px;
        right: 10px;
    }
}

@media (max-width: 768px) {
    .container{
        width: 80%;
    }
    h1 {
        font-size: 30px;
    }
    .box {
        width: calc(30%);
        height: 70px;
        font-size: 15px;
        

    }
    .box h2 {
        font-size: 1.2em;
    }
    .box p {
        font-size: 3em;
    }
    #back {
        position: absolute; 
        height: 70px;
        width: 50px;
        top: 20px;
        left: 30px;
    }
    #cart {
        position: absolute; 
        height: 70px;
        width: 50px;
        top: 20px;
        right: 30px;
    }
}


.highlight {
    background-color: greenyellow;
}
.highlight h2 {
    color: green;
}
.highlight p {
    color: green;
}
.highlight:hover {
    background-color: yellow;
}