body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8f0;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

#back-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#back {
    position: absolute; 
    top: 4px;  
    left: 100px;  
    height: 100px;
    width: 50px;
}

#cart-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#cart {
    position: absolute; 
    top: 4px;  
    right: 100px;  
    height: 100px;
    width: 50px;
}

h1 {
    color: #2c5e2e;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    
}

label {
    margin-right: 10px;
}

select, button {
    padding: 8px;
    margin-right: 15px;
    border: 1px solid #2c5e2e;
    border-radius: 4px;
    font-size: 20px;
}

button {
    background-color: #2c5e2e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1e401f;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #2c5e2e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f8f2;
}

tr:hover {
    background-color: #e6f3e6;
}

/* Regole per schermi più piccoli */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
        font-size: 18px; 
    }
    h1 {
        font-size: 22px;
    }
    .filter-container {
        flex-direction: column; 
        align-items: flex-start;
    }

    .filter-container .search-container input {
        width: 100%; 
        margin-right: 0;
        font-size: 20px; 
    }

    .filter-container .search-container {
        width: 100%;
    }

    .filter-container label,
    .filter-container select,
    .filter-container button {
        margin-bottom: 10px; 
        margin-right: 0;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 15px;
    }

    label {
        width: 100%;
        margin-bottom: 5px;
        font-size: 18px;
    }

    select, button {
        width: calc(40% - 5px);
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 18px;
    }

    button {
        width: 100%;
    }

    table {
        font-size: 20px; 
    }

    th, td {
        padding: 8px 4px;
    }

    th {
        font-size: 12px;
    }

    #back {
        left: 30px;
        width: 30px;
        top: 0px;
    }

    #cart {
        right: 30px;
        width: 30px;
        top: 0px;
    }
}


@media screen and (max-width: 400px) {
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }

    body {
        font-size: 18px; 
    }
}
