html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/sports.png);
}

.max-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.allenatore {
    width: 18%; 
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative; 
    overflow: hidden; 
}

.allenatore h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darkgreen;
    text-transform: uppercase;
}

.ruolo {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em; 
    color: white; 
}

.ruolo-portieri {
    background-color: orange;
}

.ruolo-difensori {
    background-color: green;
}

.ruolo-centrocampisti {
    background-color: blue;
}

.ruolo-attaccanti {
    background-color: red;
}


.giocatore {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background-color: #f0f0f0;
}

.ruolo-badge {
    width: 16px;
    height: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}

.nome-giocatore {
    padding: 2px 5px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

#back-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#back {
    position: absolute; 
    top: 30px;  
    left: 50px;  
    height: 70px;
    width: 50px;
}

#cart-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#cart {
    position: absolute; 
    top: 30px;  
    right: 50px;  
    height: 70px;
    width: 50px;
}


@media (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        font-size: 0.6rem;
        margin-top: 550px;
    }

    .allenatore {
        width: 100%; 
        margin: 0;
    }

    .allenatore h3 {
        font-size: 0.9rem;
    }

   
    .ruolo {
        font-size: 1rem; 
        padding: 0px; 
    }

    .giocatori {
        font-size: 1rem; 
        padding: 0px;
    }


    
    body {
        margin-top: 0;
        padding-top: 0;
    }

    #max-container {
        padding-top: 10px; 
    }

    #back {
        position: absolute; 
        height: 70px;
        width: 30px;
        top: 20px;
        left: 30px;
    }
    #cart {
        position: absolute; 
        height: 70px;
        width: 30px;
        top: 20px;
        right: 30px;
    }
}


