body {
    background-image: url('../img/sports.png');
    font-family: 'Open-Sans', sans-serif;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 80px;
}
.allenatore {
    width: 12%; 
    margin-bottom: 20px;
}
.allenatore h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darkgreen;
    text-transform: uppercase;
    
}
.giocatore {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background-color: #f0f0f0;
    
}
.ruolo-badge {
    width: 16px;
    height: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}
.nome-giocatore {
    padding: 2px 5px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    
}
@media (max-width: 1200px) {
    .allenatore {
        width: 24%; 
    }
    .allenatore h3 {
        font-size: 20px;}
}